*{
    padding: 0;
    margin: 15;
    box-sizing: border-box;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner{
    display: flex;
    flex-flow: column;
    gap: 1vh;
}

body{
    background-color: gray;
}